html{
	background-color: white;

	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* head{
	width: 1200px;
} */

body{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #FFFFFF;
	
	margin: 0px 0px 0px 0px;
	width: 100%;

	/* width: 1200px; */
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}

h2{
	width: 100%;
	margin: 2rem 0rem 2rem 2rem;

	color: #A27FD4;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: bold;

	font-size: 3rem;	
}

h3{
	width: 100%;
	margin: 0rem 0rem 1rem 0rem;

	color: #A27FD4;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: none;
	font-weight: bold;

	font-size: 2.5rem;
}

/* ######################################################################### */

.header{
	background-color: #A27FD4;
	height: 7rem;
	padding: 1rem 1rem 1rem 2rem ;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo{
	height: inherit;
	margin: 0rem 0rem 0rem 0rem;
	padding: 0rem 0rem 0rem 0rem;

	display: flex;
	align-items: center;
}

.header-logo img{
	height: 6rem;
	width: auto;
}

.header-menu{
	height: inherit;
	display: inline-block;
}

.header ul{
	margin: 0rem 0rem 0rem 0rem;
	padding: 0rem 0rem 0rem 0rem;
	height: inherit;

	list-style: none;

	display: flex;
	align-items: center;
}

.header a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 2.5rem;

	height: inherit;

	padding: 0rem 2rem 0rem 2rem;
}

/* ######################################################################### */

.hero{
	background-color: #A27FD4;
	/* background-image: url("https://drive.google.com/uc?export=view&id=1iz5HngNZM1zFPFqZP8muNzegm3klJH2j");
	background-size: auto auto;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: center; */
	
	text-align: justify;

	margin: 0rem 0rem 0rem 0rem;
	border: 0rem;
	padding: 0rem 0rem 0rem 0rem;
	/* height: 300px; */
	height: auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

h1{
	font-size: 2.5rem;

	line-height: 1.5;
	letter-spacing: -.05rem;
	color: #FFFFFF;

	/* margin: 0px 600px 0px 20px; 600px ancho de img background */
	margin: 0rem 0rem 0rem 0rem;
	padding: 0rem 1rem 1rem 2rem;
	/* width: 725px; */
	/* height: 190px;
	width: 720px; */
}

h1 strong{
	color: #5FD2D3;
}

.hero-image{
	margin: 0rem 0rem 0rem 0rem;
	height: 12rem;
}

.hero-image img{
	height: inherit;
}

/* ######################################################################### */

.showcase{
	width: 100%;
	margin: 0px auto 0px auto;

	display: flex;
	flex-direction: column;

	font-size: 1rem;
	/* align-items: center; */
	/* justify-content: center; */
}

.exhibit{
	background-color: #FDBEFF;

	margin: 0rem 0rem 2rem 0rem;
	padding: 0px 0px 0px 0px;
	border: .5rem .5rem .5rem .4rem;
	border-color: #A27FD4;
	border-style: solid;
	border-radius: 2rem;
	overflow: hidden;
	height: 25rem;
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}

.exhibit-text{
	font-size: 2rem;

	display: inline-block;
	width: 50%;

	padding: 0rem 1rem 0rem 2rem;

	text-align: justify;
}

.exhibit-title
.exhibit-description,
.exhibit-link{
	display: block;
	margin: 0px 0px 0px 0px;
}

.exhibit-image{
	display: inline-block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: inherit;
}

.exhibit-image img{
	height: inherit;
	width: 30rem;
}

/* ######################################################################### */
.core{
	width: 100%;
	margin: 0px auto 0px auto;

	display: block;
}


.kernel-flexbox{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.kernel{
	margin: 2rem 0rem 2rem 0rem;
	padding: 0px 0px 0px 0px;

	background-color: #FDBEFF;
	border: .5rem .5rem .5rem .5rem;
	border-color: #A27FD4;
	border-style: solid;
	border-radius: 2rem;
	overflow: hidden;
	
	width: 30%;
	
	display: flex;
	flex-direction: column;
}

.kernel-image{
	display: inline-block;
	margin: 0px 0px 0px 0px;
	border: 0px;
	padding: 0px 0px 0px 0px;
	height: auto;
	width: 100%;
}

.kernel-text{
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #FDF0FE;
	
	margin: -30px 20px 20px 20px;;
	padding: 10px 20px 10px 20px;

	box-shadow: 5px 5px #A27FD4;
}

.kernel-title,
.kernel-description,
.kernel-link{
	display: block;
	margin: 0px 0px 0px 0px;

	text-align: center;
}

.kernel-title{
	margin: 0px 0px 10px 0px;
}

.kernel-description{
	font-size: 2rem;
	text-align: justify;
}

.kernel-link{
	color: #A27FD4;

	margin: 2rem 0rem 0rem 0rem;
	border: 1px solid;
	border-radius: .5rem;
	padding: .5rem 2rem .5rem 2rem;
}

.kernel-link a{
	font-size: 2.5rem;
	text-decoration: none;
}

.kernel-image img{
	margin: 0px 0px 0px 0px;
	border: 0px;
	padding: 0px 0px 0px 0px;
	height: inherit;
	width: inherit;
}

/* ######################################################################### */
.monetization{
	width: 100%;
	margin: 0px auto 0px auto;

	display: block;
}

.store{
	background-color: #FDBEFF;
	border: 4px 4p 4px 4px;
	border-color: #A27FD4;
	border-style: solid;
	border-radius: 20px;
	overflow: hidden;

	margin: 20px 0px 20px 0px;
	padding: 0px 0px 0px 0px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.store-text{
	display: inline-block;
	width: 50%;

	padding: 0px 0px 0px 20px;

	text-align: justify;
}

.store-title,
.store-description,
.store-link{
	display: block;
	margin: 0px 0px 0px 0px;
}

.store-image{
	display: inline-block;
	margin: 0px 0px 0px 0px;
	border: 0px;
	padding: 0px 0px 0px 0px;
	height: 300px;
	width: 400px;
}

.store-image img{
	margin: 0px 0px 0px 0px;
	border: 0px;
	padding: 0px 0px 0px 0px;
	height: inherit;
	width: inherit;
}

.store-description{
	font-size: 2rem;
}
/* ######################################################################### */

.contact{
	/* background-color: #fff7f2; */
	
	padding: 1rem 2rem 1rem 2rem;
	height: auto;

	/* border: 1px red solid; */
	/* background-image: url("https://drive.google.com/uc?export=view&id=12bmCfTdPtNL3a-KlEbGZnaQ2LrzHJ4Uz");
	
	overflow: hidden;
	background-repeat: no-repeat; */
	/*
	background-position-y: top ;
	background-position-x: center;
	background-size: 500px 500px;
	*/
	display: block;
	/*
	align-items: center;
	justify-content: space-between;*/
}

.email{
	font-size: 2rem;

	width: 100%;

	margin: 0rem 0rem 1rem 2rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	font-size: 4rem;
}

.email input{
	font-size: 4rem;

	width: 70%;
}
.email button{
	font-size: 4rem;
}

.social{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	margin: 0px 0px 0px 0px;
	height: 5rem;
	width: 100%;
}

.social-link{
	display: inline-block;

	margin: 1rem 0rem 1rem 2rem;
	height: 5rem;
	width: 5rem;
}

.social-link.linkedin{
	background-image: url("https://drive.google.com/uc?export=view&id=1fv7FfJGpIoyyevgeAg0p_92KaotUhUyq");
	background-size: 5rem auto;
}

.social-link.instagram{
	background-image: url("https://drive.google.com/uc?export=view&id=1GYet9XWoGK32eaWENQ7gpBr6NejJWKVe");
	background-size: 5rem auto;
}

.social-link.facebook{
	background-image: url("https://drive.google.com/uc?export=view&id=1LOrbpB6udvMpAsO9hHlpFrpw-oZ-lb1w");
	background-size: 5rem auto;
}

.social-link.github{
	background-image: url("https://drive.google.com/uc?export=view&id=1rBzNXTTjD7j_EZleduNNtEB3l6kEtpiC");
	background-size: 5rem auto;
}

/* ######################################################################### */
.footer{
	/* background-color: #fff7f2; */
	/*background-color: green;*/
	background-color: #A27FD4;
	color: #000000;

	padding: 0px 0px 0px 0px;
	height: 15rem;

	overflow: hidden; /* */

	display: flex;
	flex-direction: row;
	align-items: center; 

	justify-content: space-between;

	/* border: 1px green solid; */

	letter-spacing: 2px; 
}

.footer-message{
	margin: 0px 0px 0px 20px;
	width: 50%;
	/* justify-self: flex-start; */
	/* align-self: flex-end; */

	font-size: 4rem;
}

.footer-img{
	margin: 0px 0px 0px 0px;

	width: 50%;
}

.footer-logo{
	margin: -20rem 0px 0px 0px;
	padding: 0px 0px 0px 0px;

	width: 200%;
	/* justify-self: center; */
	/* align-self: center; */
}

.footer-logo img{
	height: auto;
	width: 50%;
	/* overflow: hidden; */
	/* vertical-align: middle; */
}

.footer-text{
	margin: -24rem 0px 0px 0px;
	padding: 0rem 0px 0px 0px;;
	width: 100%;

	font-size: 2.5rem;
	/* justify-self: flex-end; */
	/* align-self: flex-end; */
}

.footer-text a{
	color: inherit;
	text-decoration: none;
}

.footer-text img{
	height: 1.5rem;
	/* display: inline-block; */
}